<a href="https://colab.research.google.com/github/Isometric1/Codeforces-problems-by-math_for_life/blob/main/MLKaggle.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
! gdown --id 1B_3kym7DBmO5W397jabNSwvj6Q-MTgKF

/usr/local/lib/python3.7/dist-packages/gdown/cli.py:131: FutureWarning: Option `--id` was deprecated in version 4.3.1 and will be removed in 5.0. You don't need to pass it anymore to use a file ID.
  category=FutureWarning,
Downloading...
From: https://drive.google.com/uc?id=1B_3kym7DBmO5W397jabNSwvj6Q-MTgKF
To: /content/house-prices-advanced-regression-techniques.zip
100% 204k/204k [00:00<00:00, 113MB/s]

In [5]:
! unzip /content/house-prices-advanced-regression-techniques.zip -d /content/house

Archive:  /content/house-prices-advanced-regression-techniques.zip
  inflating: /content/house/data_description.txt
  inflating: /content/house/sample_submission.csv
  inflating: /content/house/test.csv
  inflating: /content/house/train.csv

In [57]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_absolute_error
import math
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor

In [58]:
df = pd.read_csv('/content/house/train.csv')
train,test = train_test_split(df, train_size=0.8)
main_test = pd.read_csv('/content/house/test.csv')
main_test['GarageArea'] = main_test['GarageArea'].fillna(0)

In [59]:
test.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
387,388,80,RL,72.0,7200,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdWo,NaN,0,10,2009,WD,Abnorml,125000
1075,1076,70,RL,75.0,13125,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,7,2007,CWD,Normal,219500
1097,1098,120,RL,NaN,3696,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,10,2007,WD,Normal,170000
830,831,20,RL,80.0,11900,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,166000
593,594,120,RM,NaN,4435,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2009,WD,Normal,140000

In [60]:
X = ['YrSold','LotArea','GarageArea','GrLivArea','TotRmsAbvGrd','OverallCond']
y = ['SalePrice']

# RandomForestRegressor

In [49]:
clf = RandomForestRegressor(
                             n_estimators=200,
                             min_samples_split=10,
                             min_samples_leaf=3,
                             max_features='auto',
                             oob_score=True,
                            criterion='squared_error'
                      
                             ,n_jobs=-1)
clf.fit(train[X],  np.ravel(train[y]))
test['SalePrice_p2'] = clf.predict(test[X])
mean_absolute_error(test['SalePrice'],test['SalePrice_p2'])

29806.06335824779

In [ ]:
main_test['SalePrice'] = clf.predict(main_test[X])
main_test[['Id','SalePrice']].to_csv('/content/KNN2.csv')

# DecisionTreeRegressor

In [61]:
dtr = DecisionTreeRegressor(max_depth=6)
dtr.fit(train[X],  train[y])
test['SalePrice_p3'] = dtr.predict(test[X])
mean_absolute_error(test['SalePrice'],test['SalePrice_p3'])

34976.759601366095

In [48]:
main_test['SalePrice'] = dtr.predict(main_test[X])
main_test[['Id','SalePrice']].to_csv('/content/KNN10.csv')

# KNeighborsRegressor

In [25]:
from sklearn import metrics
knn = KNeighborsRegressor(n_neighbors=5,weights = 'uniform')
knn.fit(train[X],train[y])
test['SalePrice_p'] = knn.predict(test[X])
mean_absolute_error(test['SalePrice'],test['SalePrice_p'])

33875.115068493156

# GridSearchCV(KNeighborsRegressor()) - подбор лучших параметров.

In [26]:
grid = GridSearchCV(KNeighborsRegressor(),param_grid = {'n_neighbors':[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20],'weights':['uniform','distance']})
grid.fit(train[X],train[y])
test['SalePrice_p1'] = grid.predict(test[X])
mean_absolute_error(test['SalePrice'],test['SalePrice_p1'])

33640.80462545048

In [27]:
grid.best_params_

{'n_neighbors': 12, 'weights': 'distance'}

In [123]:
main_test['SalePrice'] = grid.predict(main_test[X])
main_test[['Id','SalePrice']].to_csv('/content/KNN.csv')